Package: com.d.vietmap-autocontinue
Name: VietMap Auto Continue
Version: 0.2.0
Architecture: iphoneos-arm64
Description: Automatically activates the "Tiếp tục sử dụng V3" button in VIETMAP LIVE 3.3.4.
Maintainer: d
Author: d
Section: Tweaks
Depends: mobilesubstrate
